<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="css/tailwindcss.css" rel="stylesheet" />
    <script src="js/detectdrive.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Trirong:300,400,500,700&display=swap" rel="stylesheet" />
    <!--Zalo webhook-->
    <meta name="zalo-platform-site-verification" content="Rjw11RIk4XbjdQGbx9uW3160cpVzzajjCJKv" />

    <ImportMap />
    <link rel="icon" type="image/png" href="imgs/logo-namthang.png" />
    <meta name="google-adsense-account" content="ca-pub-2723913688114916">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2723913688114916"
            crossorigin="anonymous"></script>
    <HeadOutlet />
    <!-- SEO -->
    <title>Taxi Nam Thắng – Taxi Kiên Giang nhanh chóng, an toàn, giá rẻ</title>
    <meta name="description"
          content="Taxi Nam Thắng cung cấp dịch vụ taxi tại Kiên Giang, Hà Tiên, Rạch Giá và các khu vực lân cận. Phục vụ 24/7, xe đời mới, tài xế chuyên nghiệp." />
    <meta property="og:title" content="Taxi Nam Thắng – Taxi Kiên Giang nhanh chóng, an toàn, giá rẻ" />
    <meta property="og:description"
          content="Dịch vụ taxi Nam Thắng - Gọi xe nhanh, giá rẻ, phục vụ 24/7 tại Kiên Giang." />
    <meta property="og:image" content="https://taxinamthang.com/imgs/customers/homepage.jpg" />
    <meta property="og:url" content="https://taxinamthang.com/" />
    <meta name="robots" content="index, follow" />

    <!--Google-->
    <meta name="google-site-verification" content="1zoDKByYpGgF4vfJabcZ51HgSce3EZB5spf9ltP87d0" />
</head>

<body>

    <Routes />

    <script src="js/mystyle.js"></script>
    <script src="_framework/blazor.web.js"></script>
 
</body>

</html>
