<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="css/tailwindcss.css" rel="stylesheet" />
    <script src="js/detectdrive.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Trirong:300,400,500,700&display=swap" rel="stylesheet" />
    <!--Zalo webhook-->
    <meta name="zalo-platform-site-verification" content="Rjw11RIk4XbjdQGbx9uW3160cpVzzajjCJKv" />
    <!--Google-->
    <meta name="google-site-verification" content="1zoDKByYpGgF4vfJabcZ51HgSce3EZB5spf9ltP87d0" />
    <ImportMap />
    <link rel="icon" type="image/png" href="/imgs/customers/logo.jpg" />
    <!-- GG Adsense -->
    <meta name="google-adsense-account" content="ca-pub-2723913688114916">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2723913688114916"
            crossorigin="anonymous"></script>

    <!-- SEO 
    <title>Taxi Nam Thắng – nhanh chóng, an toàn, giá rẻ</title>
    <meta name="description"
          content="Taxi Nam Thắng cung cấp dịch vụ taxi tại Kiên Giang, Rạch Giá, Hà Tiên, Phú Quốc, Vĩnh Long, Cần Thơ, Bạc Liêu, Cà Mau, An Giang. Phục vụ 24/7, xe đời mới, tài xế thân thiện, giá rẻ." />
    <meta property="og:title" content="Taxi Nam Thắng – nhanh chóng, an toàn, giá rẻ" />
    <meta property="og:description"
          content="Taxi Nam Thắng cung cấp dịch vụ taxi tại Kiên Giang, Rạch Giá, Hà Tiên, Phú Quốc, Vĩnh Long, Cần Thơ, Bạc Liêu, Cà Mau, An Giang. Phục vụ 24/7, xe đời mới, tài xế thân thiện, giá rẻ." />
    <meta property="og:image" content="https://taxinamthang.com/imgs/customers/homepage.jpg" />
    <meta property="og:url" content="https://taxinamthang.com/" /> -->

    <HeadOutlet />
</head>

<body>

    <Routes />

    <script src="js/mystyle.js"></script>
    <script src="_framework/blazor.web.js"></script>
 
</body>

</html>
