@layout MainLayoutEmpty

<div class="flex justify-center text-2xl text-blue-500">TÌM PHIẾU CHECKER</div>

<!-- Input Section -->
<CheckerComponent @rendermode="new InteractiveWebAssemblyRenderMode(prerender:true)" />
