@rendermode @(new InteractiveServerRenderMode(prerender: true))

<div id="mobileNav" class="hidden border-b bg-white md:hidden">
    <div class="flex flex-col gap-3 px-6 py-4">
        <a href="/blogs" class="py-2">Tin tức</a>
        <a href="#about" class="py-2">Về chúng tôi</a>
        <a href="#services" class="py-2">Dịch vụ</a>
        <a href="#fleet" class="py-2">Đội xe</a>
        <a href="#contact" class="py-2">Liên hệ</a>
        <a href="#booking" class="rounded-md bg-blue-600 py-2 text-center text-white">Đặt xe</a>
    </div>
</div>