<button type="button" class="inline-flex items-center gap-1 rounded-full bg-gray-950/2 px-2 py-1 inset-ring inset-ring-gray-950/8 dark:bg-white/5 dark:inset-ring-white/2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="-ml-0.5 size-4 fill-gray-600 dark:fill-gray-500">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"></path>
    </svg>
</button>
<button type="button" @onclick="OnToggle" class="undefined relative inline-grid size-7 place-items-center rounded-md text-gray-950 hover:bg-gray-950/5 dark:text-white dark:hover:bg-white/10" aria-label="Navigation">
    <span class="absolute top-1/2 left-1/2 size-11 -translate-1/2 pointer-fine:hidden">
    </span>
    <svg viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path d="M8 2a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM8 6.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM9.5 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z">
        </path>
    </svg>
</button>
@if (isToggled)
{
    <div>
        <div class="fixed inset-0 bg-white focus:outline-none md:hidden dark:bg-gray-950">
            <div class="size-full overflow-y-auto">
                <!--Tittle-->
                <div class="flex h-14 items-center justify-between px-4 py-4 sm:px-6">
                    <img width="70" src="../imgs/logo-namthang.png" />
                    <button type="button" @onclick="OnToggle"
                            class="undefined relative inline-grid size-7 place-items-center rounded-md text-gray-950 hover:bg-gray-950/5 dark:text-white dark:hover:bg-white/10"
                            aria-label="Navigation">
                        <span class="absolute top-1/2 left-1/2 size-11 -translate-1/2 pointer-fine:hidden">
                        </span>
                        <svg viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z">
                            </path>
                        </svg>
                    </button>
                </div>
                <!--Content-->
                <div class="grid grid-cols-1 gap-1 px-1 pb-1 sm:px-3 sm:pb-3">
                    <a href="/dashboard" @onclick="OnToggle" class="text-xl/9 rounded-lg px-3 py-2 font-medium text-gray-950 dark:text-white data-active:bg-gray-950/5 dark:hover:bg-white/10">Trang chính</a>
                    <a href="/checker/daily" @onclick="OnToggle" class="text-xl/9 rounded-lg px-3 py-2 font-medium text-gray-950 dark:text-white data-active:bg-gray-950/5 dark:hover:bg-white/10">Phiếu checker</a>
                    @*<a href="/history" @onclick="OnToggle" class="text-xl/9 rounded-lg px-3 py-2 font-medium text-gray-950 dark:text-white data-active:bg-gray-950/5 dark:hover:bg-white/10">Lịch sữ phiếu</a>
                    <a href="/salary" @onclick="OnToggle" class="text-xl/9 rounded-lg px-3 py-2 font-medium text-gray-950 dark:text-white data-active:bg-gray-950/5 dark:hover:bg-white/10">Lương</a>*@
                    <a href="/settings" @onclick="OnToggle" class="text-xl/9 rounded-lg px-3 py-2 font-medium text-gray-950 dark:text-white data-active:bg-gray-950/5 dark:hover:bg-white/10">Cài đặt</a>
                    <div class="w-full text-center">
                        <button @onclick="(() => Logout_Handle())" class="rounded-lg px-2 py-1 font-sans text-sm text-white dark:text-white bg-red-500 hover:bg-red-700">Đăng xuất</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code{

    public bool isToggled { get; set; } = false;

    public void OnToggle()
    {
        isToggled = !isToggled;
    }

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;
    [Inject]
    public IAuthenService authenService { get; set; } = default!;
    public async Task Logout_Handle()
    {
        await authenService.LogOut();
        Navigation.NavigateTo("/", true);
    }
}